# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.venv/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Archivos temporales
*.log

# Cachés
.pytest_cache/
.mypy_cache/

# PyInstaller
build/

# Carpetas temporales
img/pendientes/
img/procesadas_png/
img/productos_defectuosos/
img/normalizadas/
img/originales_descargadas/

# Datos del negocio
data/*.xlsx

# Variables de entorno
.env

NormalizadorImagenes.exe

